# Secrets
*_secret.yaml

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
src/*.pdf
*.toc
_minted*/
*.gz
*.pyg
*.snippets

# Workshop resources
workshop/cloudcred.yaml
workshop/kubeprofile.yaml
workshop/organization.yaml
workshop/project.yaml
workshop/slack_alerting.yaml
workshop/user_ap.yaml
# other
*.zip
.idea
.vscode